body {
  &.users-login {
    login-header {
      height: 28em;

      @extend header-model, .tran-all;

      @media screen and (max-width: 600px) {
        display: none;
      }
    }

    [data-structure="header,after,spacing"] {
      position: relative;
      height: 18em;

      @media screen and (max-width: calc(1110px + (2* 1.2em))) {
        height: 16em;
      }

      @media screen and (max-width: 600px) {
        height: 5em;
      }
    }

    [data-structure="users,login-container"] {
      bm-inr {
        padding: 3em 3.4em;

        [login] label {
          span::after {
            content: "Delta Login";
            display: block;

            @media screen and (max-width: 500px) {
              content: "Login";
            }
          }
        }

        @media screen and (max-width: 500px) {
          padding: 2.2em 2.4em;
        }

        @media screen and (max-width: 400px) {
          padding: 1em 1.2em;
        }
      }
    }
  }
}
