body {
  &.votes {
    votes-header {
      @extend header-model;

      .vh-inr {
        width: 100%;
        max-width: $main-smol-width;
        margin: 0 auto;
        padding: 7em 1.2em 8em;

        label span::before {
          display: block;
          content: "Choose your time";
        }

        .actions {
          p.already-voted {
            opacity: 0;
            visibility: hidden;
            color: $light;
            margin-right: $gap-std;
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.48);

            @extend .tran-all;
          }
        }

        @media screen and (max-width: 1120px) {
          padding: 4em 2.6em 8em;
        }

        @media screen and (max-width: 600px) {
          padding: 2.4em 1.2em;
        }
      }

      &[disabled] {
        label span::before {
          display: block;
          content: "You voted for";
        }

        time-picker .arrow {
          opacity: 0;
          visibility: hidden;
        }

        .actions {
          p.already-voted {
            opacity: 1;
            visibility: visible;
          }

          button-model {
            @extend [disabled];
          }
        }
      }

      &[closed] {
        time-picker .show {
          background: $orange6;
        }
      }
    }

    [data-structure="header,spacer"] {
      height: $main-header-height + 28em;

      @media screen and (max-width: 1120px) {
        height: $main-header-height + 25em;
      }

      @media screen and (max-width: 600px) {
        height: $main-header-height + 25.8em;
      }
    }

    main {
      @extend .centered, .smol;

      position: relative;
      z-index: 2;
      padding: 0em 1.2em;
      margin-bottom: 4em;

      @media screen and (max-width: 600px) {
        padding: 0;

        label {
          text-shadow: none;
          color: $dark;
        }
      }
    }

    [data-structure="votes,casted"] {
      margin-bottom: 4em;

      box-model[casted="true"] {
        transition: all 0.2s linear;
        background: $green6;
      }
    }
  }
}
