body {
  &.votes {
    votes-header {
      display: block;
      position: fixed;
      width: 100%;
      max-width: $main-mid-width;
      border-radius: 24px;
      left: 50%;
      top: 1.2em;
      transform: translateX(-50%);
      z-index: 1;

      @extend .tran-all-cubic;

      &[scrolled="true"] {
        transform: translateX(-50%) scale(0.98);
        opacity: 0.2;
      }

      .vh-inr {
        width: 100%;
        margin: 0 auto;
        padding: 7em 2.6em 8em;

        label span::before {
          display: block;
          content: "Choose your time";
        }

        .actions {
          p.already-voted {
            opacity: 0;
            visibility: hidden;
            color: $light;
            margin-right: $gap-std;
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.48);

            @extend .tran-all;
          }
        }
      }

      &[disabled] {
        label span::before {
          display: block;
          content: "You voted for";
        }

        time-picker .arrow {
          opacity: 0;
          visibility: hidden;
        }

        .actions {
          p.already-voted {
            opacity: 1;
            visibility: visible;
          }

          button-model {
            @extend [disabled];
          }
        }
      }
    }

    [data-structure="votes,casted"] {
      &[disable="true"] {
        & > button-model {
          // @extend [disabled];
        }
      }

      box-model[casted="true"] {
        transition: all 0.2s linear;
        background: $green6;
      }
    }
  }
}
