.blink {
  color: white;
  animation: blink 2s ease infinite;
  margin: 0 0.2em;
  opacity: 1;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animated {
  &.fallIn {
    animation: fallIn 1s $cubic forwards;
  }
}

@keyframes fallIn {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}
