@import "variables.scss";
@import "classes.scss";
@import "remixicons.scss";
@import "animations.scss";
@import "elements.scss";
@import "header.scss";
@import "@countdown.scss";
@import "@login.scss";
@import "@votes.scss";

/* baloo-2-regular - latin */
@font-face {
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/baloo2/baloo-2-v12-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/baloo2/baloo-2-v12-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/baloo2/baloo-2-v12-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/baloo2/baloo-2-v12-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/baloo2/baloo-2-v12-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/baloo2/baloo-2-v12-latin-regular.svg#Baloo2") format("svg"); /* Legacy iOS */
}

/* baloo-2-800 - latin */
@font-face {
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/baloo2/baloo-2-v12-latin-800.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/baloo2/baloo-2-v12-latin-800.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/baloo2/baloo-2-v12-latin-800.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/baloo2/baloo-2-v12-latin-800.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/baloo2/baloo-2-v12-latin-800.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/baloo2/baloo-2-v12-latin-800.svg#Baloo2") format("svg"); /* Legacy iOS */
}

/* baloo-2-700 - latin */
@font-face {
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/baloo2/baloo-2-v12-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/baloo2/baloo-2-v12-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/baloo2/baloo-2-v12-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/baloo2/baloo-2-v12-latin-700.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/baloo2/baloo-2-v12-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/baloo2/baloo-2-v12-latin-700.svg#Baloo2") format("svg"); /* Legacy iOS */
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Baloo 2", cursive;
  background: $orange6;
  color: $dark;
  font-size: 1em;
  line-height: 1.4em;
  letter-spacing: -0.01em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (max-width: 28em) {
    overflow: hidden;
  }

  &::before {
    visibility: hidden;
    opacity: 0;

    @media screen and (max-width: 28em) {
      position: fixed;
      z-index: 20000000000000000000;
      visibility: visible;
      opacity: 1;
      height: 100vh;
      width: 100vw;
      background: $red;
      color: white;
      display: block;
      font-size: 2em;
      content: "Too smol fren";
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}

:root {
  --q-size: 40em;
}

main {
  display: block;
  width: $main-full-width;
  padding-bottom: 7.2em;

  &[centered] {
    margin: 0 auto;
  }

  &[no-header] {
    margin-top: $main-header-height;
  }

  &[size] {
    &[size="wide"] {
      max-width: $main-wide-width;
    }

    &[size="mid"] {
      max-width: $main-mid-width;
    }

    &[size="smol"] {
      max-width: $main-smol-width;
    }

    &[size="single"] {
      max-width: $main-single-width;
    }

    @media screen and (max-width: 600px) {
      width: 100%;
      max-width: 100% !important;
    }
  }
}

body {
  &.not-found {
    background: #ffd3cb;
    overflow: hidden;

    .container {
      position: relative;
      max-width: 1280px;
      width: 100%;
      height: 100vh;
      margin: 0 auto;

      .girl-down {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 50em;
        width: 50em;

        @media screen and (max-height: 860px) {
          height: 48em;
          width: 48em;
        }

        @media screen and (max-height: 820px) {
          height: 44em;
          width: 44em;
        }

        @media screen and (max-height: 760px) {
          height: 40em;
          width: 40em;
        }

        @media screen and (min-height: 1150px) {
          height: 60em;
          width: 60em;
          left: -16em;
        }

        @media screen and (max-width: 960px) {
          left: -10em;
        }

        @media screen and (max-width: 875px) {
          left: -18em;
        }

        @media screen and (max-width: 720px) {
          display: none;
        }
      }

      .error-text {
        position: absolute;
        right: 6em;
        top: 50%;
        transform: translateY(-50%);

        @media screen and (max-width: 720px) {
          right: auto;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }

        .headline {
          font-size: 6em;
          letter-spacing: -0.1em;
          font-weight: 600;
          color: #333;
          line-height: 1;
          text-align: right;

          & > div {
            display: inline-block;
            position: relative;
          }

          .eyes {
            .the {
              animation: eyes-move 20s linear infinite;
              height: 0.1em;
              width: 0.1em;
              top: 0.48em;
              left: 0.18em;
              border-radius: 50%;
              position: absolute;
              background: #333;
            }
          }

          @media screen and (max-width: 720px) {
            font-size: 4em;
          }
        }

        p {
          color: #333;
          line-height: 1;
          text-align: right;

          @media screen and (max-width: 720px) {
            text-align: center;
          }

          &.description {
            font-size: 2.4em;

            @media screen and (max-width: 720px) {
              font-size: 1.2em;
            }
          }
        }
      }
    }

    .bubble-container {
      position: absolute;
      bottom: 0;
      height: 100vh;
      width: 100%;

      .bubble {
        z-index: -1;
        position: absolute;
        border-radius: 50%;
        bottom: -12em;
        opacity: 1;

        animation-name: bubbleeee;
        animation-iteration-count: infinite;

        &.bubble-1 {
          right: 10em;
          height: 10em;
          width: 10em;
          background: rgba(255, 255, 255, 0.12);

          animation-duration: 12s;
          animation-delay: 0s;
          animation-timing-function: linear;
        }

        &.bubble-2 {
          right: 24em;
          height: 3em;
          width: 3em;
          background: rgba(255, 255, 255, 0.24);

          animation-duration: 6s;
          animation-delay: 3s;
          animation-timing-function: linear;
        }

        &.bubble-3 {
          right: 4em;
          height: 5em;
          width: 5em;
          background: rgba(255, 255, 255, 0.18);

          animation-duration: 10s;
          animation-delay: 4s;
          animation-timing-function: linear;
        }

        &.bubble-4 {
          right: 16em;
          height: 2em;
          width: 2em;
          background: rgba(255, 255, 255, 0.32);

          animation-duration: 4s;
          animation-delay: 8s;
          animation-timing-function: linear;
        }

        &.bubble-5 {
          right: 16em;
          height: 9em;
          width: 9em;
          background: rgba(255, 255, 255, 0.32);

          animation-duration: 7s;
          animation-delay: 10s;
          animation-timing-function: linear;
        }
      }
    }

    main-header {
      background: transparent;
    }

    sub-header {
      height: 28em;

      @extend header-model;
    }

    [data-structure="header,after,spacing"] {
      position: relative;
      height: 18em;

      @media screen and (max-width: calc(1110px + (2* 1.2em))) {
        height: 16em;
      }

      @media screen and (max-width: 600px) {
        height: 5em;
      }
    }
  }
}

@keyframes eyes-move {
  // left -> right
  0% {
    left: 0.18em;
    top: 0.48em;
  }

  9% {
    left: 0.18em;
    top: 0.48em;
  }

  10% {
    left: 0.3em;
    top: 0.48em;
  }

  29% {
    left: 0.3em;
    top: 0.48em;
  }

  30% {
    left: 0.18em;
    top: 0.48em;
  }

  // mid -> top
  48% {
    left: 0.18em;
    top: 0.48em;
  }

  50% {
    left: 0.18em;
    top: 0.38em;
  }

  98% {
    left: 0.18em;
    top: 0.38em;
  }

  100% {
    left: 0.18em;
    top: 0.48em;
  }
}

@keyframes bubbleeee {
  0% {
    bottom: -12em;
    opacity: 1;
  }

  98% {
    bottom: calc(100% + 12em);
    opacity: 1;
  }

  99% {
    bottom: calc(100% + 12em);
    opacity: 0;
  }

  100% {
    bottom: -12em;
    opacity: 0;
  }
}
