@import "variables.scss";
@import "classes.scss";
@import "remixicons.scss";
@import "animations.scss";
@import "elements.scss";
@import "header.scss";
@import "@countdown.scss";
@import "@login.scss";
@import "@votes.scss";

/* baloo-2-regular - latin */
@font-face {
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/baloo2/baloo-2-v12-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../fonts/baloo2/baloo-2-v12-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../fonts/baloo2/baloo-2-v12-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../fonts/baloo2/baloo-2-v12-latin-regular.woff") format("woff"),
    /* Modern Browsers */
      url("../../fonts/baloo2/baloo-2-v12-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../../fonts/baloo2/baloo-2-v12-latin-regular.svg#Baloo2")
      format("svg"); /* Legacy iOS */
}

/* baloo-2-800 - latin */
@font-face {
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 800;
  src: url("../../fonts/baloo2/baloo-2-v12-latin-800.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../fonts/baloo2/baloo-2-v12-latin-800.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../fonts/baloo2/baloo-2-v12-latin-800.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../fonts/baloo2/baloo-2-v12-latin-800.woff") format("woff"),
    /* Modern Browsers */ url("../../fonts/baloo2/baloo-2-v12-latin-800.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../../fonts/baloo2/baloo-2-v12-latin-800.svg#Baloo2") format("svg"); /* Legacy iOS */
}

/* baloo-2-700 - latin */
@font-face {
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/baloo2/baloo-2-v12-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../fonts/baloo2/baloo-2-v12-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../fonts/baloo2/baloo-2-v12-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../fonts/baloo2/baloo-2-v12-latin-700.woff") format("woff"),
    /* Modern Browsers */ url("../../fonts/baloo2/baloo-2-v12-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../../fonts/baloo2/baloo-2-v12-latin-700.svg#Baloo2") format("svg"); /* Legacy iOS */
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Baloo 2", cursive;
  background: $orange6;
  color: $dark;
  font-size: 1em;
  line-height: 1.4em;
  letter-spacing: -0.01em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (max-width: 28em) {
    overflow: hidden;
  }

  &::before {
    visibility: hidden;
    opacity: 0;

    @media screen and (max-width: 28em) {
      position: fixed;
      z-index: 20000000000000000000;
      visibility: visible;
      opacity: 1;
      height: 100vh;
      width: 100vw;
      background: $red;
      color: white;
      display: block;
      font-size: 2em;
      content: "Too smol fren";
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}

:root {
  --q-size: 40em;
}

main {
  display: block;
  width: $main-full-width;

  &.centered {
    margin: 0 auto;
  }

  &.wide {
    max-width: $main-wide-width;
  }

  &.mid {
    max-width: $main-mid-width;
  }

  &.smol {
    max-width: $main-smol-width;
  }

  &.single {
    max-width: $main-single-width;
  }

  @media screen and (max-width: 600px) {
    width: 100%;
    max-width: 100% !important;
  }
}
