@import "variables.scss";
@import "classes.scss";
@import "animations.scss";
@import "elements.scss";
@import "@countdown.scss";

/* comfortaa-regular - latin */
@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/comfortaa/comfortaa-v38-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("../../fonts/comfortaa/comfortaa-v38-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../fonts/comfortaa/comfortaa-v38-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../fonts/comfortaa/comfortaa-v38-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../../fonts/comfortaa/comfortaa-v38-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../../fonts/comfortaa/comfortaa-v38-latin-regular.svg#Comfortaa")
      format("svg");
  /* Legacy iOS */
}

/* comfortaa-700 - latin */
@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/comfortaa/comfortaa-v38-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("../../fonts/comfortaa/comfortaa-v38-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../fonts/comfortaa/comfortaa-v38-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../fonts/comfortaa/comfortaa-v38-latin-700.woff") format("woff"),
    /* Modern Browsers */
      url("../../fonts/comfortaa/comfortaa-v38-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../../fonts/comfortaa/comfortaa-v38-latin-700.svg#Comfortaa")
      format("svg");
  /* Legacy iOS */
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Comfortaa", cursive;
  font-size: 100%;
  background-color: $yellow-100;
  color: $light;
  letter-spacing: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --q-size: 40em;
}

main {
  display: block;
  width: $main-full-width;

  &.centered {
    margin: 0 auto;
  }

  &.wide {
    max-width: $main-wide-width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $gap-std;
  }

  &.mid {
    max-width: $main-mid-width;
  }

  &.single {
    max-width: $main-smol-width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $gap-std;
  }
}
